.profile {
    height: 100vh;
    max-height: 626px;
    width: 410px;
}

.profile__title {
    margin: 74px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.profile__form-set {
    margin: 116px 0 220px;
    border: 0;
    padding: 0;
}

.profile__form_input {
    background-color: #202020;
    color: #FFFFFF;
    border: none;
    text-align: right;
    padding: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.profile__form-set_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424242;
    padding: 17px 0 16px;
}

.profile__form-set_input:last-child {
    border-bottom: none;
}

.profile__input-label {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}

.profile__edit {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: center;
}

.profile__edit_success-message {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: green;
    margin: 6px 0 10px;
}

.profile__edit_button {
    border: none;
    background-color: #202020;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0;
}

.profile__edit_exit {
    font-weight: 500;
    color: #EE3465;
    text-decoration: none;
    margin-top: 16px;
    background-color: inherit;
    border: none;
}

.profile__edit_button:hover, .profile__edit_exit:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: ease-out 0.5s;
}

.profile__edit_button:disabled {
    opacity: 1;
    color: #8B8B8B;
}

@media screen and (max-width: 450px) {
    .profile {
        width: 260px;
        height: 100%;
        max-height: 706px;
    }

    .profile__form-set {
        margin: 80px 0 310px;
    }

    .profile__title {
        margin: 70px 0 0;
    }

    .profile__edit {
        font-size: 12px;
        line-height: 15px;
    }
}