.navigation {
    visibility: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

}

.popup__opened {
    visibility: visible;
}

.navigation__popup {
    display: flex;
    flex-direction: column;
    width: 520px;
    box-sizing: border-box;
    padding: 23px 23px 0;
    height: 100%;
    background-color: #202020;
}

.navigation__popup_close-btn {
    background-image: url('../../images/icon-close.svg');
    width: 28px;
    min-height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    padding: 0;
}

.navigation__popup_close-btn:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: ease-out;
}

.navigation__popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 105px;
}

.navigation__popup-container_links {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 743px;
}

.navigation__btn {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
}

.navigation__btn-films {
    width: 80px;
    align-self: center;
}

.navigation__btn_active {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.navigation__btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.navigation__btn-profile {
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
}

@media screen and (max-width: 550px) {
    .navigation__popup {
        width: 100%;
    }

    .navigation__popup-container_links {
        max-height: 548px;
    }
}
