.register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register__form {
    flex-direction: column;
    color: #FFFFFF;
    width: 396px;
}

.register__title {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0;
}

.register__form-set {
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
}

.form__input-label {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.form__input {
    width: 100%;
    border-bottom: 1px solid #424242;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    line-height: 17px;
    background-color: #202020;
    color: #FFFFFF;
    padding: 5px 0 10px;
}

.form__input-error {
    display: block;
    visibility: hidden;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 6px 0 10px;
}

.form__input-password {
    color: #EE3465;
}

.form__input-error_active {
    visibility: visible;
}

.form__button {
    border: none;
    background-color: #4285F4;
    border-radius: 3px;
    padding: 13px 126px 15px 124px;
    margin: 134px 0 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.register__signin {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.register__signin_text {
    font-weight: 400;
    color: #8B8B8B;
    margin-right: 6px;
}

.register__signin_link {
    font-weight: 400;
    color: #4285F4;
    text-decoration: none;
}

.register__signin_link:hover, .form__button:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: ease-out 0.5s;
}

